[submodule "samu-startpage"]
	path = samu-startpage
	url = https://github.com/NicolasSedres/samu-startpage.git
[submodule "nvim"]
	path = nixos/home-manager/configs/nvim
	url = https://github.com/NicolasSedres/nvim.git
