[user]
	email = nicolas.sedres@nubank.com.br
	name = Samu
	signingkey = 9E67215A05F008A9D20316F71133EAF26B20A8D9
[credential]
	helper = store
[color]
	diff = auto
	status = auto
	branch = auto
[includeIf "gitdir:/Users/nicolas.sedres/dev/nu/"]
	path = /Users/nicolas.sedres/.nugitconfig

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[commit]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
