[user]
	email = nicolas.sedres@nubank.com.br
	name = Samu
[credential]
	helper = store
[color]
	diff = auto
	status = auto
	branch = auto
[includeIf "gitdir:/Users/nicolas.sedres/dev/nu/"]
	path = /Users/nicolas.sedres/.nugitconfig
